@page "/peoplelist"
@inject HttpClient Http

<PageTitle>People</PageTitle>

<h1>People</h1>

<p>
    <label for="search">Name</label>
    <input id="serach" @oninput="OnFilterCriteriaChange" />
</p>
<p>Filter: @filterCriteria</p>
<p>userId: @clientprincipal.UserId</p>
@*<p>CurrRecIndex: @currRecIndex</p>*@

@if (list == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table fixed_header table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Hobby</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < list.Count; i++)
            {
                var index = i;
                <tr class="@GetTableRowClass(index)" @onclick="@(e => OnLineClick(index))" id="@index">
                    <td>@list[i].FirstName</td>
                    <td>@list[i].LastName</td>
                    <td>@list[i].Email</td>
                    <td>@list[i].HobbyDescrition</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <h3>Details</h3>

        <EditForm Model="currRec" OnValidSubmit="Save">
        <div>
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="currRec.FirstName" class="form-control"></InputText>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <InputText id="lastName" @bind-Value="currRec.LastName" class="form-control"></InputText>
        </div>
        <div>
            <label for="email">E-mail</label>
            <InputText id="email" @bind-Value="currRec.Email" class="form-control"></InputText>
        </div>
        <div>
            <label for="hobby">Hobby</label>
            <InputSelect id="hobby" @bind-Value="currRec.HobbyCode" class="form-select">
                <option value="0" disabled selected hidden>Select</option>
                @for (int i = 0; i < hobbyList.Length; i++)
                {
                    <option value="@hobbyList[i].RowKey">@hobbyList[i].Description</option>
                }
            </InputSelect>
        </div>
        <br>
        <button type="button" class="btn btn-primary" @onclick="Save">Save</button>
        <button type="button" class="btn btn-danger" @onclick="Delete">Delete</button>
        <button type="button" class="btn btn-info" @onclick="New">New</button>
    </EditForm>
}
@code {
    private SharedLibrary.SystemData.ClientPrincipal clientprincipal;
    private List<SharedLibrary.Person>? rawList = new();
    private List<SharedLibrary.Person>? list;
    private SharedLibrary.Hobby[]? hobbyList;
    private SharedLibrary.Person? currRec;
    private int currRecIndex = -1;
    private string filterCriteria = string.Empty;
    private string filterCriteria2 = string.Empty;
    private string userId = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            clientprincipal = await Http.GetFromJsonAsync<SharedLibrary.SystemData.ClientPrincipal>("/api/clientprincipal");

            hobbyList = await Http.GetFromJsonAsync<SharedLibrary.Hobby[]>("/api/hobby");
            var body = string.Empty;
            using (var response = await Http.GetAsync("/api/people"))
            {
                body = response.Content.ReadAsStringAsync().Result;
            }
            rawList = System.Text.Json.JsonSerializer.Deserialize<List<SharedLibrary.Person>>(body);
            list = System.Text.Json.JsonSerializer.Deserialize<List<SharedLibrary.Person>>(body);

            if (list is not null)
            {
                currRecIndex = 0;
                currRec = list[currRecIndex];
            }
        } catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private string GetTableRowClass(int index) =>
        index == currRecIndex ? "table-primary" : "";

    private void OnLineClick(int index)
    {
        currRecIndex = index;
        currRec = list[currRecIndex];
    }

    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }

    private void OnFilterCriteriaChange(ChangeEventArgs e)
    {
        filterCriteria = e?.Value?.ToString();
        try
        {
            list = rawList.Where(x =>
                x.Email?.Contains(filterCriteria) ?? false ||
                (x.FirstName.Contains(filterCriteria)) ||
                (x.LastName.Contains(filterCriteria))).ToList();
        }
        catch (Exception ex)
        {
            filterCriteria = ex.Message;
        }
    }


    private void New()
    {
        currRec = new();
    }

    private async Task Save()
    {
        var newEntry = string.IsNullOrWhiteSpace(currRec.RowKey);
        using var httpResponse = await Http.PostAsJsonAsync<SharedLibrary.Person>("api/people", currRec);
        currRec = await httpResponse.Content.ReadFromJsonAsync<SharedLibrary.Person>();
        if (newEntry)
        {
            list.Add(currRec);
            currRecIndex = list.Count - 1;
        }
        list[currRecIndex] = currRec;

    }

    private async Task Delete()
    {
        await Http.DeleteAsync($"api/people/{currRec.PartitionKey}/{currRec.RowKey}");
        list.RemoveAt(currRecIndex);
        currRecIndex--;
        currRec = list[currRecIndex];
    }
}
